.color-0 {
    background-color: white;
}

.color-1 {
    background-color: #1e1108;
}

.color-2 {
    background-color: #492a13;
}

.color-3 {
    background-color: #7a451f;
}

.color-4 {
    background-color: #94631a;
}

.color-5 {
    background-color: #985e33;
}

.color-6 {
    background-color: #b87748;
}

.color-7 {
    background-color: #cb9051;
}

.color-8 {
    background-color: #e4bb8e;
}

.color-9 {
    background-color: #f5eccb;
}

.color-10 {
    background-color: #fffbef;
}


